[submodule "DotFiles"]
	path = DotFiles
	url = https://github.com/Killua7362/DotFiles.git
	branch = master
[submodule "archnix/aconfmgr"]
	path = archnix/aconfmgr
	url = https://github.com/Killua7362/aconfmgr.git
